@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Azeret Mono", monospace;
}

header,
main,
footer {
  padding: 80px 0;
}
/* ========== header section start ========= */
nav ul li a {
  text-decoration: none;
  font-weight: 800;
  font-size: 28px;
  color: rgb(13, 19, 33);
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul li {
  list-style: none;
}
.btn {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  cursor: pointer;
  background: none;
  border-radius: 10px;
  padding: 5px;
}

.banner {
  margin-top: 30px;
  background: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}
.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.banner-text {
  width: 850px;
  text-align: center;
}
.banner-text p {
  padding: 15px 0;
}
.banner-btn {
  background: rgb(13, 19, 33);
  color: #fff;
}
/* ========== header section end ========= */

/* ===== MAIN SECTION START ===== */
/* development section */
.development {
  padding: 0 90px;
  text-align: center;
}
.layer-1 {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 30px;
  padding: 30px 0;
}
.text-part p,
.development p {
  padding: 15px 0;
}

.layer-2 {
  display: flex;
  gap: 30px;
  align-items: center;
  text-align: left;
}

.layer-3 {
  display: flex;
  gap: 30px;
  text-align: left;
  align-items: center;
}
.layer-1,
.layer-2,
.layer-3 {
  padding: 0 40px;
}

.inspiration {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.inspiration p {
  width: 750px;
  padding: 15px 0;
}

.target {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  gap: 20px;
}
.target > p {
  width: 550px;
}
.html,
.css,
.js {
  padding: 25px;
  width: 350px;
  margin: 10px;
}
.css {
  background: rgba(0, 76, 232, 0.05);
}
.html,
.js {
  background: rgba(255, 76, 30, 0.05);
}

.target-content {
  display: flex;
  justify-content: space-around;
}
/* ===== MAIN SECTION END ===== */
